<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APi Data</title>
</head>
<body>
    {{response}}
    <form action="" method="post">
        {% csrf_token %}
        <select name="fromcurrency" id="city">
            {% for value,name in currency.items %}
            <option value="{{value}}">{{name}}</option>
            {% endfor %}
        </select>
        <select name="tocurrency" id="city">
            {% for value,name in currency.items %}
            <option value="{{value}}">{{name}}</option>
            {% endfor %}
        </select>
        <input type="number" name="amount" required/>
        <button type="submit">Submit</button
    </form>
</body>
</html>