<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new account | Spartan News</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>User register | Spartan-NewsPortal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>

</head>
<body>

    <div id="form-wrapper">
        <h1>Welcome to Spartan News</h1>
        <hr>

        <form id="register-form">
            <label>User_name</label>
            <input type="text" name="username" placeholder="Please enter username" />
            <br><br>
            <label>Password:</label>
            <input type="text" name="first_name" placeholder="Enter your first name" />
            <br><br>
            <input type="submit" value="Login" />
        </form>
    </div>

</body>
<script src='login.js'></script>

</html>