{% extends 'base.html' %}
{% load static %}

{% block pageTitle %}
Sparta News - {{active_cat}}
{% endblock %}


{% block bodyContent %}

<body class="bg-tan mx-20 px-24">
    {% include 'navbar.html' %}

    <div class="news-holder mx-36">
        {% for cat_news in all_cat_news %}
        <div class="news mx-10 my-4 flex gap-5">
            <img src="{{cat_news.image1.url}}" class="w-52 rounded-md" alt="">
            <div class="news-details">
                <div class="author text-xs"><strong>
                        {% if cat_news.is_anonymous %}
                        Anonymous
                        {% else %}
                        {{cat_news.created_by.first_name}} {{cat_news.created_by.last_name}}
                        {% endif %}
                    </strong> |
                    {{cat_news.upload_date|date:'F j, Y'}}</div>
                <h1 class="font-heading font-bold text-2xl leading-tight">{{cat_news.title}}</h1>
                <div class="text-sm opacity-75">{{cat_news.body|truncatechars:200}}</div>
                <a href="{% url 'view_news' cat_news.slug %}" class="text-xs underline">Read More >></a>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>

</body>

{% endblock %}


{% block scripts %}

{% endblock %}