{% extends 'base.html' %}
{% load static %}

{% block pageTitle %}
Sparta News - {{news.title}}
{% endblock %}


{% block bodyContent %}

<body class="bg-tan">
    {% include 'navbar.html' %}
    <div class="container px-24 mx-auto flex gap-3 mt-5">
        <div class="news-container gap-3 w-auto flex flex-col">
            <div class="headings">
                <h1 class="font-heading font-semibold text-5xl">{{news.title}}</h1>
                <h1 class="font-heading font-medium text-lg mt-2">{{news.sub_title}}</h1>
            </div>
            <div class="author text-sm">
                {{news.upload_date}} | <strong>{{news.created_by.first_name}} {{news.created_by.last_name}}</strong>
            </div>
            <div class="news-contents">
                {{news.body}}
            </div>
        </div>
        <aside>
            <div class="ad-banner bg-black w-smallAd">
                Place your Advertisement here.
            </div>
        </aside>
    </div>
</body>
{% endblock %}