<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login | Spartan News</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

    <link rel='stylesheet' type='text/css' media='screen' href='login.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<body>
<div id="form-wrapper">
    <h1>Welcome to Spartan News</h1>
    <hr>

    <form id="login-form">
        <label>Username/id:</label>
        <input type="text" name="username" />
        <br><br>
        <label>Password:</label>
        <input type="password" name="password" />
        <br><br>
        <input type="submit" value="Login" />
    </form>
</div>

<div class="signup-block">
    <div class="block-item left">
        <h1>Sign up with:</h1>
        <p><small> Do you have an already account?</small>
        </p>
    </div>
    <div class="social-media">
        <button class="btn_facebook" ><i class="fab fa-facebook-f"></i><span>Facebook</span></button>
        <button class="btn_twitter" ><i class="fab fa-twitter"></i><span>Twitter</span></button>
        <button class="btn_google"><i class="fab fa-google"></i><span>Google</span></button>
    </div>
</div>
</body>
<script src='login.js'></script>

</html>